<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Block Account</title>
  <link rel="stylesheet" type="text/CSS" href="../static/blockaccountcss.css">
  <script src="https://kit.fontawesome.com/07fcf237ab.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar">
    <div class="logo-image">
    </div>
    <span class="bank-title">ABC BANK</span>
  </nav>

  <form method = "POST">
    <div class="container">
      <div class="form">
        <div class="input-field">
          <label for="block">
            <h2>Why do you want to block your account? </h2>
          </label>
        </div>
        <textarea id="block" name="blockReason" rows="7" cols="55" class="textarea" required></textarea>

        <div class="input-field">
          <input type="submit" name="submit" value="Block Account" class="btn">
        </div>
      </div>
    </div>

  </form>
  <footer class="footer">
    <div class="container1">
      <div class="row">
        <div class="footer-col">
          <h4>bank</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">branches</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">customer care</a></li>
            <li><a href="#">branches</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <ul>
              <a href="#" class="b"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-twitter"></i></a>
              <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </footer>
</body>

</html>